<% provide(:title, "投稿") %>
<div class="form-group row mt-2">
  <div class="col pl-0">    
　  <%= form_for(@micropost) do |f| %>
    　<%= render 'shared/error_messages', object: f.object %>
      <%= f.text_field :content,class: "form-control border-0", placeholder: "キャプションを書く" %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      <%= f.submit "投稿する", class: "btn btn-primary" %>
    <% end %>  
  </div>
</div>
　
  <script type="text/javascript">
    $('#micropost_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
    });
  </script>   