<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "InstagramClone", '/', id: "logo" %>
    <nav>
    <ul class="nav navbar-nav navbar-right">
  　<% if logged_in? %>
      <li><%= link_to "ユーザー一覧", users_path %></li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      アカウント <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
      <li><%= link_to "編集", edit_user_path(current_user) %></li>
      <li><%= link_to "パスワード再設定", "/password_resets/new" %></li>
      <li><%= link_to "ログアウト", logout_path, method: :delete  %></li>
      <li class="divider"></li>
      <li>
       <%= link_to "ユーザー削除",  user_path(current_user), method: :delete  %>
      </li>
      </ul>
      </li>
    <% else %>      
      <li><%= link_to "新規登録", signup_path %></li>
    <% end %>
    </ul>
 　 </nav>
  </div>
</header>