<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <%= render 'layouts/shim' %>
 <body>
  <%= render 'layouts/header' %>
    <div class="container">
     <% flash.each do |message_type, message| %>
     <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>  
    <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
  
</html>
